# .env.exemple
# SECRET_KEY=your_secret_key_here
# DEBUG=True
# ALLOWED_HOSTS=localhost,127.0.0.1

# Database (если используется)
# DB_NAME=myproject_db
# DB_USER=myproject_user
# DB_PASSWORD=myproject_password
# DB_HOST=localhost
# DB_PORT=5432

# email-верификация (настройка для gmail)
EMAIL_HOST_USER= # здесь адрес email, с которого будет приходить письмо верификации
EMAIL_HOST_PASSWORD= # здесь пароль Gmail App Password
EMAIL_HOST=smtp.gmail.com # это настройка почтового сервера
EMAIL_PORT=587 # это настройка почтового сервера
# EMAIL_USE_TLS=true # это настройка безопасности, но она сделана в settings.py
# EMAIL_BACKEND указан в settings.py

# Bot (если используется)
# BOT_TOKEN=your_bot_token_here